fastapi==0.116.1
uvicorn==0.35.0
langchain==0.3.27
langchain-core==0.3.74
langserve==0.3.1
langchain-ollama==0.3.6
langchain-google-genai==2.1.9
python-dotenv==1.1.1
streamlit==1.49.1
requests==2.32.5
pydantic==2.11.7
sse-starlette==3.0.2